<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934496750061-m01uu6chd637s2j53f9jqi6efru8re5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934496750061-m01uu6chd637s2j53f9jqi6efru8re5a</string>
	<key>API_KEY</key>
	<string>AIzaSyD3_uzrE-kFb5vSsbwMwk_kZz0GdXr9Yuc</string>
	<key>GCM_SENDER_ID</key>
	<string>934496750061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MLB.Exsell</string>
	<key>PROJECT_ID</key>
	<string>exsell-4e409</string>
	<key>STORAGE_BUCKET</key>
	<string>exsell-4e409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934496750061:ios:ea472c2826c7a451e63fe4</string>
	<key>DATABASE_URL</key>
	<string>https://exsell-4e409.firebaseio.com</string>
</dict>
</plist>